html{
    font-size: 16px;
  }
.hero{
    height: 100vh;
    background-image: url(../images/cover.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.hero-title{
    
    font-family: $font-roboto-slab;
    color: $color-light;
    font-size: 2.625rem;
    font-weight: 700;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    @media all and (min-width:768px){
        font-size: 5rem;
    }
    @media all and (min-width:1200px){
        font-size: 6.25rem;
        margin-bottom: 20px;
    }
    span{
        display: block;
    }
}
.hero-txt{
    font-family: $font-roboto;
    font-size: 1rem;
    color: $color-light;
    @media all and (min-width768px){
        font-size: 1.5rem;
    }
}
.arrow-down{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: none;
    background-color: $color-light;
    margin: 40px;
    img{
        transform: translate(63%,140%);
    }
}
.tips{
    padding: 30px 15px 30px 15px;
    @media all and (min-width: 768px){
        width: 95%;
        padding: 60px 40px;
    }
    @media all and (min-width: 1200px){
        width: 60%;
        margin: auto;
    }
    span{
        font-family: $font-roboto;
        font-size: 1rem;
        color: #8ccbea;
    }
}
.tips-title{
    font-family: $font-roboto-slab;
    font-weight: bold;
    font-size: 1.5rem;
    @media all and (min-width: 768px){
        font-size: 1.625rem;
    }
    @media all and (min-width: 1200px){
        font-size: 2rem;
    }
}
.tips-txt{
    font-family: $font-roboto;
    color: #4a4a4a;
    font-size: 1.125rem;
    margin-bottom: 30px;
    @media all and (min-width: 768px){
        font-size: 1.25rem;
    }
}
.btn-go{
    width: 20%;
    background-color: $color-light;
    border: $color-btn solid 2px;
    border-radius: 20px;
    margin-top: 40px;
    padding: 5px 20px;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 1.25rem;
    color: $color-btn;
    text-align: center;
    transition: transform ease 0.8s, background-color ease 0.8s, color ease 0.8s;
    &:hover {
        transform: scale(1.05);
        background-color: $color-btn;
        color: $color-light;
      }
      a{
          color: $color-btn;
      }
    @media all and (min-width: 1200px){
        padding: 5px 50px;
    }
}
.reasons{
    background-color: $color-background-reasons;
    padding: 30px 15px 30px 15px;
}
.reasons-title{
    font-family: $font-roboto-slab;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    @media all and (min-width: 768px){
        font-size: 1.625rem;
    }
    @media all and (min-width: 1200px){
        font-size: 2rem;
    }
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    @media all and (min-width:768px){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 45%;
    }
}
.article{
    width: 60%;
    @media all and (min-width: 768px){
        width: auto;
    }
}
.item1{
    grid-row: 1/2;
    @media all and (min-width: 768px){
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
.item2{
    grid-row: 2/3;
    @media all and (min-width: 768px){
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
.item3{
    grid-row: 3/4;
    @media all and (min-width: 768px){
        grid-column: 3/4;
        grid-row: 1/2;
    }
}
.article-title{
    font-family: $font-roboto-slab;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    @media all and (min-width: 768px){
        font-size: 1.5rem;
    }
}
.article-txt{
    font-family: $font-roboto;
    font-size: 1.125rem;
    text-align: center;
    @media all and (min-width: 768px){
        font-size: 1.25rem;
    }
}
.btn-reasons{
    grid-row: 4/5;
    width: 195px;
    height: 45px;
    background-color: $color-btn;
    font-family: $font-roboto;
    font-size: 1.25rem;
    font-weight: 500;
    color: $color-light;
    text-align: center;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    margin: 30px 0;
    transition: transform ease 0.8s, background-color ease 0.8s, color ease 0.8s;
    &:hover {
        transform: scale(1.05);
        background-color: $color-light;
        color: $color-btn;
        border: $color-btn solid 2px;
      }
    @media all and (min-width: 768px){
        grid-column: 2/3;
        grid-row: 2/3;
    }
}
